<footer class='footer'>
  <div class='container animation-element'>
    <div class='row'>
      <div class='col-md-8 col-sm-7 col-xs-12' id='about'>
        <h1>
          About Michael
        </h1>
        <p>
          Hello there! My name is Michael and I'm a Full Stack Web Developer.
        </p>
        <p>
          I'm very good with Front-end Web development and Back-end Web development. I prefer to make websites look professional and easy to use with web-pages that are simple, elegant, and with purpose (for example, to sell services or products). I love clean professional well tested code which I use for both Back-end and Front-end web development
        </p>
        <p>
          Over the years, i've adopted to many frameworks, technology stacks, and business needs that have helped me evolve and become the web developer I am today.
        </p>
        <p>
          I started my journey as a self-taught web developer right out of University when I first discovered the biggest CMS in the industry, WordPress.
        </p>
        <p>
          Ever since, I have fallen in love with web development and spend most of my days taking my craft to the next level.
        </p>
        <p>
          Nowadays I tend to code all of my projects from scratch in order to deliver a unique experience to every company.
        </p>
        <p>
          Like many other people, I enjoy spending my free time increasing my knowledge of Web Development and building new and challenging projects.
        </p>
        <hr>
        <h2>
          Some of my favorite things to do include:
        </h2>
        
        <ul class='normal'>
          <li>
            <i><%= icon "users" %></i>
            <span class='contact-list'>1 on 1 tutoring on development</span>
          </li>
          <li>
            <i><%= icon "book", {aria:'Book', height:'1.2em'} %></i>
            <span class='contact-list'>Learning modern standards and best practices of code in the industry</span>
          </li>
          <li>
            <i><%= icon "code", {aria:'Code', height:'1.2em'} %></i>
            <span class='contact-list'>Learning about code that generates money for businesses</span>
          </li>
          <li>
            <i><%= icon "device-camera", {aria:'Video', height:'1.2em'} %></i>
            <span class='contact-list'>Video Animation, Creating Content</span>
          </li>
        </ul>

      </div>
      <div class='col-md-4 col-sm-5 col-xs-12 text-xs-center' id='contact'>
        <h1 >
          Contact Me
        </h1>
        <ul class='normal'>
          <li class=''>
            <i><%= icon "envelope", {aria:'E-mail', height:'1.2em'} %>
            </i>
            <span class='contact-list'>Email: <a href='mailto:michael_ak@hotmail.co.uk' class='f-link'>michael_ak@hotmail.co.uk</a></span>
          </li>
          <li class=''>
            <i><%= icon "phone-square", {aria:'Telephone Number', height:'1.2em'} %>
            </i>
            &#160;<span class='contact-list'>Phone: 07958432219</span>
          </li>
          <li class=''>
            <i><%= icon "compass", {aria:'Location', height:'1.2em'} %>
            </i>
            <span class='contact-list'>Location: England HA8 6EW</span>
          </li>
        </ul>
        <h1 id='connect-with-me'>
          Connect with me
        </h1>
        <ul class='normal'>
          <li class=''>
            <i style='font-style:normal;font-size:1.2em;'>in
            </i>
            <a href='https://www.linkedin.com/in/michael-akhazemea-a10488110/' target='_blank' class='f-link'><span class='contact-list'>Linkedin</span></a>
          </li>
          <li class=''>
            <i><%= icon "mark-github", {aria:'Telephone Number', height:'1.2em'} %>
            </i>
            <a href='https://github.com/michaelakh' target='_blank' class='f-link'><span class='contact-list'>Github</span></a>
          </li>
        </ul>
      </div>
      <nav class="navbar navbar-expand-lg w-100">
        <div class='container d-flex justify-content-center'>
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to 'Privacy Policy', privacy_path, class:'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'Projects', web_address('#projects'), class:'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Testimonials', web_address('#testimonials'), class:'nav-link' %>
            </li>
            <li class="nav-item">
              <li class="nav-item">
                <%= link_to cv_path, class:'nav-link' do %>
                  <i><%= icon "file", {aria:'Contact'}%></i> CV
                <% end %>
              </li>
            </li>
          </ul>
        </div>
      </nav>
      <p class='text-center w-100 late-load'>
        © 2019 Michael Ohioze Akhazemea | Technologies
      </p>
    </div>
  </div>
</footer>
