<style>

  
  
  
</style>
<div class='main-section'>
  <section class='intro-section' id='intro-section'>
    <div class='overlay'>
      <div class='container container-pad'>
        <div class='row'>
          <div class='col-sm-6 col-xs-12'>
            <h1>
              PEOPLE WORK BETTER TOGETHER
            </h1>
            <p> 
              The power of one, if fearless and focused, is formidable, but the power of many working together is better.
              -Gloria Macapagal Arroyo
            </p>
          </div>
          <div class='col-6 d-none d-sm-flex'>
            <p> 
              Want to work with me? I'm always looking for new projects or a coding buddy. Don't be shy, get in touch!
            </p>
          </div>
        </div>
        <div class='text-center light'>
          <%= link_to "#who-am-i", class:'nav-link' do %>
            <i><%= icon "chevron-down", {aria:'Projects',height:'40'}%></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class='who-am-i container-pad' id='who-am-i'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='fade fade-left animation-element'>
            <h1>
              Who am i?
            </h1>
            <p>
              Hello there! My name is Ozi and I'm a Full Stack Web Developer.
            </p>
            <p>
              I'm very good with Front-end Web development and Back-end Web development. I prefer to make websites look professional and easy to use with web-pages that are simple, elegant, and with purpose (for example, to sell services or products). I love clean professional well tested code which I use for both Back-end and Front-end web development
            </p>
            <p>
              Over the years, i've adopted to many frameworks, technology stacks, and business needs that have helped me evolve and become the web developer I am today.
            </p>
            <p class='text-center'>
              <%= link_to "#about", class:'btn btn-lg btn-primary cookie-accept' do %>
              Read More <i><%= icon "chevron-right", {aria:'Projects',height:'24'}%></i> 
            <% end %>
            </p>
          </div>
        </div>
        <div class='col-sm-6 text-center'>
          <div class='fade fade-right animation-element'>
            <%= image_tag('software-development-cycle.png', style:'max-width:400px;width:100%;') %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% if @projects.blank? != true %>
  <section class='projects container-pad' id='projects'>
    <div class='container'>
      <h1 class='fade animation-element'>
        My Latest Work
      </h1>
      <div class='row fade animation-element'>
        <% @projects.each do |project| %>

          <div class='col-md-3 col-sm-4 col-xs-6'>
            <h1>
              <%= project.title.capitalize_all %>
            </h1>
            <div class='text-center '>
              <%= image_tag(project.image.thumb.url, alt:'Project Image', class:'img-fluid') %>
            </div>
            <div class='caption'>
                <%= project.summary.html_safe %>
              <div class='overlay text-center'>
                <%= link_to project, class:'btn btn-primary nav-link' do %>
                  View Project <i><%= icon "chevron-right", {aria:'Projects',height:'24'}%></i>
                <% end %>
              </div>
            </div>
            <div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% end %>
  <section class='technology-stack container-pad fade animation-element' id='technology-stack'>
    <div class='container'>
      <h1>
        Technology Stack
      </h1>
      <div class='box-wrapper'>
        <h2>
          Front-end
        </h2>
        <hr>
        <h3>
          Languages
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('html5', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              HTML 5
            </div>

          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('css3', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              CSS
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('jquery', class:'img-fluid tech-icon d-none d-sm-inline') %>
              <%= image_tag('javascript', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Javascript (Jquery)
            </div>
          </div>
        </div>
        <br>
        <h3>
          Frameworks/Libraries
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('bootstrap', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Bootstrap 3/4
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('sass', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              SASS
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('react', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              React/Redux
            </div>
          </div>
        </div>
      </div>
      <div class='box-wrapper'>
        <h2>
          Back-end
        </h2>
        <h3>
          Languages
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('ruby', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Ruby
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('php', class:'img-fluid tech-icon', style:'width:5em;') %>
            </div>
            <div class='text-center'>
              PHP
            </div>
          </div>
        </div>
        <br>
        <h3>
          Data stores/Databases
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('mysql', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              MySql
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('postgresql', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Postgresql
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('mongodb', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              MongoDB
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('redis', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Redis
            </div>
          </div>
        </div>
        <br>
        <h3>
          Frameworks/Libraries/CMS
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('rails', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Ruby on Rails
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('wordpress', class:'img-fluid tech-icon w-circle-icon') %>
            </div>
            <div class='text-center'>
              Wordpress
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('drupal', class:'img-fluid tech-icon', style:'width:3.3em;') %>
            </div>
            <div class='text-center'>
              Drupal
            </div>
          </div>
          <div class="p-2 btn btn-info tech">
            <div class='text-center'>
              <%= image_tag('shopify', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Shopify
            </div>
          </div>
        </div>
      </div>
      <div class='box-wrapper'>
        <h3>
          Deployment/Version Control
        </h3>
        <hr>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= icon "mark-github", {height:'4em'} %>

            </div>
            <div class='text-center'>
              Git/GitFlow
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('heroku2', class:'img-fluid tech-icon ') %>
            </div>
            <div class='text-center'>
              Heroku
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('agile', class:'img-fluid tech-icon w-circle-icon') %>
            </div>
            <div class='text-center'>
              Agile
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('rspec', class:'img-fluid tech-icon ') %>
            </div>
            <div class='text-center'>
              Rspec
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'layouts/main/testimonials' %>
</div>

<script>
  (function(){
    
    var parallax = document.querySelectorAll(".intro-section"),
        speed = 0.2;

    window.onscroll = function(){
      [].slice.call(parallax).forEach(function(el,i){
        
        var windowYOffset = window.pageYOffset,
            elBackgrounPos = "50% " + ((windowYOffset * speed)-100) + "px";

        el.style.backgroundPosition = elBackgrounPos;

      });
    };

  })();
</script>