<div class='main-section'>
  <%= render 'layouts/main/header', link:'#who-am-i' %>
  <section class='who-am-i container-pad' id='who-am-i'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='fade fade-left animation-element'>
            <h1>
              Who am i?
            </h1>
            <p>
              Hello there! My name is Michael and I'm a Full Stack Web Developer.
            </p>
            <p>
              I'm very good with Front-end Web development and Back-end Web development. I prefer to make websites look professional and easy to use with web-pages that are simple, elegant, and with purpose (for example, to sell services or products). I love clean professional well tested code which I use for both Back-end and Front-end web development
            </p>
            <p>
              Over the years, i've adopted to many frameworks, technology stacks, and business needs that have helped me evolve and become the web developer I am today.
            </p>
            <p class='text-center'>
              <%= link_to "#about", class:'btn btn-lg btn-primary cookie-accept' do %>
              Read More <i><%= icon "chevron-right", {aria:'Projects',height:'24'}%></i> 
            <% end %>
            </p>
          </div>
        </div>
        <div class='col-sm-6 text-center'>
          <div class='fade fade-right animation-element'>
            <%= image_tag('software-development-cycle.png', style:'max-width:400px;width:100%;') %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% if @projects.blank? != true %>
  <section class='projects container-pad' id='projects'>
    <div class='container'>
      <h1 class='fade animation-element'>
        My Latest Work
      </h1>
      <div class='row fade animation-element'>
        <%= render 'projects/projects', projects:@projects %>
      </div>
    </div>
  </section>
  <% end %>
  <section class='technology-stack container-pad fade animation-element' id='technology-stack'>
    <div class='container'>
      <h1>
        Technology Stack
      </h1>
      <div class='box-wrapper'>
        <h2>
          Front-end
        </h2>
        <hr class='f-e'>
        <h3>
          Languages
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('html5.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              HTML 5
            </div>

          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('css3.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              CSS
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('jquery.png', class:'img-fluid tech-icon d-none d-sm-inline') %>
              <%= image_tag('javascript.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Javascript (Jquery)
            </div>
          </div>
        </div>
        <br>
        <h3>
          Frameworks/Libraries
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('bootstrap.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Bootstrap 3/4
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('sass.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              SASS
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('react.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              React/Redux
            </div>
          </div>
        </div>
      </div>
      <div class='box-wrapper'>
        <h2>
          Back-end
        </h2>
        <hr class='b-e'>
        <h3>
          Languages
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('ruby.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Ruby
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('php.png', class:'img-fluid tech-icon', style:'width:5em;') %>
            </div>
            <div class='text-center'>
              PHP
            </div>
          </div>
        </div>
        <br>
        <h3>
          Data stores/Databases
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('mysql.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              MySql
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('postgresql.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Postgresql
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('mongodb.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              MongoDB
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('redis.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Redis
            </div>
          </div>
        </div>
        <br>
        <h3>
          Frameworks/Libraries/CMS
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('rails.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Ruby on Rails
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('wordpress.png', class:'img-fluid tech-icon w-circle-icon') %>
            </div>
            <div class='text-center'>
              Wordpress
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('drupal.png', class:'img-fluid tech-icon', style:'width:3.3em;') %>
            </div>
            <div class='text-center'>
              Drupal
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('shopify.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Shopify
            </div>
          </div>
        </div>
      </div>
      <div class='box-wrapper'>
        <h3>
          Deployment/Version Control
        </h3>
        <hr class='v-c'>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= icon "mark-github", {height:'4em'} %>

            </div>
            <div class='text-center'>
              Git/GitFlow
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('heroku2.png', class:'img-fluid tech-icon ') %>
            </div>
            <div class='text-center'>
              Heroku
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('agile.png', class:'img-fluid tech-icon w-circle-icon') %>
            </div>
            <div class='text-center'>
              Agile
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('rspec.png', class:'img-fluid tech-icon ') %>
            </div>
            <div class='text-center'>
              Rspec
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'layouts/main/testimonials' %>
</div>

<script>
  (function(){
    
    var parallax = document.querySelectorAll(".intro-section"),
        speed = 0.2;

    window.onscroll = function(){
      [].slice.call(parallax).forEach(function(el,i){
        
        var windowYOffset = window.pageYOffset,
            elBackgrounPos = "50% " + ((windowYOffset * speed)-100) + "px";

        el.style.backgroundPosition = elBackgrounPos;

      });
    };

  })();
</script>