<style>

  hr.f-e {
    margin-top:0px;
    border-top: solid 3px #004085;
  }
  
  hr.b-e {
    margin-top:0px;
    border-top: solid 3px #dc3545;
  }
  
  hr.v-c {
    margin-top:0px;
    border-top: solid 3px #28a745;
  }
  
  hr.w-r {
    margin-top:0px;
    border-top:solid 1px #FFF;
  }
  
  .p-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .b-box {
    max-height:200px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 1em;
    color:#fff;
    line-height:2;
    font-size:1.05em;
  }
  
  #projects h1 {
    font-size:2em;
  }
  
  .p-relative {
    position:relative;
  }
  
  .p-relative .overlay {
    background:rgba(0,0,0,0.5);
    color:#fff;
    transition:0.5s;
    opacity:0;
  }
  
  .p-relative .overlay:hover {
    opacity:1;
  }
  
  .p-relative .overlay .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
</style>
<div class='main-section'>
  <section class='intro-section' id='intro-section'>
    <div class='overlay'>
      <div class='container container-pad'>
        <div class='row'>
          <div class='col-sm-6 col-xs-12 p-box'>
            <h1>
              MOA | <span style='color:#dc3545;'>TECHNOLOGIES</span>
            </h1>
            <hr class='w-r'>
            <h2>
              PEOPLE WORK BETTER TOGETHER
            </h2>
            <p> 
              The power of one, if fearless and focused, is formidable, but the power of many working together is better.
              -Gloria Macapagal Arroyo
            </p>
          </div>
          <div class='col-6 d-none d-sm-block b-box p-box text-center'>
            <p> 
              Want to work with me? I'm always looking for new projects or a coding buddy. Don't be shy.
            </p>
            <div class=''>
              <%= link_to 'Get in touch', '#contact', class:'btn btn-primary cookie-accept'%>
            </div>
          </div>
        </div>
        <div class='text-center light'>
          <%= link_to "#who-am-i", class:'nav-link' do %>
            <i><%= icon "chevron-down", {aria:'Projects',height:'40'}%></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section class='who-am-i container-pad' id='who-am-i'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-6'>
          <div class='fade fade-left animation-element'>
            <h1>
              Who am i?
            </h1>
            <p>
              Hello there! My name is Ozi and I'm a Full Stack Web Developer.
            </p>
            <p>
              I'm very good with Front-end Web development and Back-end Web development. I prefer to make websites look professional and easy to use with web-pages that are simple, elegant, and with purpose (for example, to sell services or products). I love clean professional well tested code which I use for both Back-end and Front-end web development
            </p>
            <p>
              Over the years, i've adopted to many frameworks, technology stacks, and business needs that have helped me evolve and become the web developer I am today.
            </p>
            <p class='text-center'>
              <%= link_to "#about", class:'btn btn-lg btn-primary cookie-accept' do %>
              Read More <i><%= icon "chevron-right", {aria:'Projects',height:'24'}%></i> 
            <% end %>
            </p>
          </div>
        </div>
        <div class='col-sm-6 text-center'>
          <div class='fade fade-right animation-element'>
            <%= image_tag('software-development-cycle.png', style:'max-width:400px;width:100%;') %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% if @projects.blank? != true %>
  <section class='projects container-pad' id='projects'>
    <div class='container'>
      <h1 class='fade animation-element'>
        My Latest Work
      </h1>
      <div class='row fade animation-element'>
        <% @projects.each do |project| %>

          <div class='col-md-3 col-sm-4 col-xs-6'>
            <h1>
              <%= project.title.capitalize_all %>
            </h1>
            <div class='text-center p-relative'>
              <%= link_to project do %>
              <div class='overlay' style='position:absolute;top:0px;left:0px;height:100%; width:100%;'> 
                <div class='center'>
                  <i><%=icon 'eye', {height:'4em'} %></i>
                </div>
              </div>
              <%= image_tag(project.image.thumb.url, alt:'Project Image', class:'img-fluid') %>
              <% end %>
            </div>
            <div class='caption'>
                <%= project.summary.html_safe %>
              <div class='overlay text-center'>
                <%= link_to project, class:'btn btn-primary nav-link' do %>
                  View Project <i><%= icon "chevron-right", {aria:'Projects',height:'24'}%></i>
                <% end %>
              </div>
            </div>
            <div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <% end %>
  <section class='technology-stack container-pad fade animation-element' id='technology-stack'>
    <div class='container'>
      <h1>
        Technology Stack
      </h1>
      <div class='box-wrapper'>
        <h2>
          Front-end
        </h2>
        <hr class='f-e'>
        <h3>
          Languages
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('html5.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              HTML 5
            </div>

          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('css3.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              CSS
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('jquery.png', class:'img-fluid tech-icon d-none d-sm-inline') %>
              <%= image_tag('javascript.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Javascript (Jquery)
            </div>
          </div>
        </div>
        <br>
        <h3>
          Frameworks/Libraries
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('bootstrap.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Bootstrap 3/4
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('sass.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              SASS
            </div>
          </div>
          <div class="p-2 btn btn-light tech">
            <div class='text-center'>
              <%= image_tag('react.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              React/Redux
            </div>
          </div>
        </div>
      </div>
      <div class='box-wrapper'>
        <h2>
          Back-end
        </h2>
        <hr class='b-e'>
        <h3>
          Languages
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('ruby.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Ruby
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('php.png', class:'img-fluid tech-icon', style:'width:5em;') %>
            </div>
            <div class='text-center'>
              PHP
            </div>
          </div>
        </div>
        <br>
        <h3>
          Data stores/Databases
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('mysql.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              MySql
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('postgresql.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Postgresql
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('mongodb.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              MongoDB
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('redis.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Redis
            </div>
          </div>
        </div>
        <br>
        <h3>
          Frameworks/Libraries/CMS
        </h3>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('rails.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Ruby on Rails
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('wordpress.png', class:'img-fluid tech-icon w-circle-icon') %>
            </div>
            <div class='text-center'>
              Wordpress
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('drupal.png', class:'img-fluid tech-icon', style:'width:3.3em;') %>
            </div>
            <div class='text-center'>
              Drupal
            </div>
          </div>
          <div class="p-2 btn btn-danger tech">
            <div class='text-center'>
              <%= image_tag('shopify.png', class:'img-fluid tech-icon') %>
            </div>
            <div class='text-center'>
              Shopify
            </div>
          </div>
        </div>
      </div>
      <div class='box-wrapper'>
        <h3>
          Deployment/Version Control
        </h3>
        <hr class='v-c'>
        <div class="d-flex justify-content-between text-center">
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= icon "mark-github", {height:'4em'} %>

            </div>
            <div class='text-center'>
              Git/GitFlow
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('heroku2.png', class:'img-fluid tech-icon ') %>
            </div>
            <div class='text-center'>
              Heroku
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('agile.png', class:'img-fluid tech-icon w-circle-icon') %>
            </div>
            <div class='text-center'>
              Agile
            </div>
          </div>
          <div class="p-2 btn btn-success tech">
            <div class='text-center'>
              <%= image_tag('rspec.png', class:'img-fluid tech-icon ') %>
            </div>
            <div class='text-center'>
              Rspec
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'layouts/main/testimonials' %>
</div>

<script>
  (function(){
    
    var parallax = document.querySelectorAll(".intro-section"),
        speed = 0.2;

    window.onscroll = function(){
      [].slice.call(parallax).forEach(function(el,i){
        
        var windowYOffset = window.pageYOffset,
            elBackgrounPos = "50% " + ((windowYOffset * speed)-100) + "px";

        el.style.backgroundPosition = elBackgrounPos;

      });
    };

  })();
</script>