<style>

</style>
<section class='project container-pad fade-fast animation-element' id='projects'>
  <div class='container container-pad'>
    <h1>
      <strong>
        <%= @project.title %>
      </strong>
    </h1>
    <hr>
    <div class='row'>
      <div class='col-sm-6 col-xs-12'>
        <h2>
          <strong>
            Summary:
          </strong>
        </h2>
        <pre><%= @project.summary %></pre>
      </div>
      <div class='col-sm-6 col-xs-12'>
        <div class='project-image text-center'>
          <%= image_tag(@project.image.url, class:'img-fluid') %>
          <div class="d-flex justify-content-between">
            <%= link_to @project.url, class:'box-fluid' do %>
              <div class="p-2 btn btn-primary box-fluid">
                 <i><%= icon "globe", {aria:'Projects',height:'1.1em'}%></i> Visit Project <i><%= icon "chevron-right", {aria:'Projects',height:'1.1em'}%></i>
              </div>
            <% end %>
            
            <% if @project.code_url.blank? %>
            
              <div class="p-2 btn btn-danger box-fluid">
                 <i><%= icon "lock", {aria:'Projects',height:'1.1em'}%></i> View Code <i><%= icon "chevron-right", {aria:'Projects',height:'1.1em'}%></i>
              </div>
            
            <% else %>
            
              <%= link_to @project.code_url, class:'box-fluid' do %>
                <div class="p-2 btn btn-danger box-fluid">
                   <i><%= icon "code", {aria:'Projects',height:'1.1em'}%></i> View Code <i><%= icon "chevron-right", {aria:'Projects',height:'1.1em'}%></i>
                </div>
              <% end %>
            
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class='row'>
      <div class='col-sm-6 col-xs-12'>
        <h2>
          <strong>Technology Used:</strong>
        </h2>
        <p>
          <%= @project.tech %>
        </p>
      </div>
      <div class='col-sm-6 col-xs-12'>
        <h2>
          <strong>Comments:</strong>
        </h2>
        <p>
          <%= @project.comments %>
        </p>
      </div>
    </div>
  </div>
</section>
<section class='projects container-pad' id='projects'>
  <div class='container'>
    <h1>
      More Projects
    </h1>
    <div class='row fade animation-element'>
      <%= render 'projects/projects', projects:Project.all.where.not(id:@project.id) %>
    </div>
  </div>
</section>
<%= render 'layouts/main/testimonials' %>
